@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #FFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3000;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
}

.menu{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline-block;
    margin-right: 1em;
}

.menu .logo img{
    height: 95px;
}

.menu .btn-menu{
    display: none;
}

.menu .enlaces{
    display: inline-block;
    text-align: right;
}

.menu .enlaces a{
    color: var(--color-títulos);
    text-decoration: none;
    padding: 1em;
    font-size: .8.5em;
    text-align: center;
    /*font-family: serif;*/
}

.menu .enlaces a:hover{
    color: #1F5E73;
}

.headroom{
    transition: transform .3s ease;
}

.headroom--pinned{
    transform: translateY(0%);
}

.headroom--unpinned{
    transform: translateY(-100%);
}

/* PROPIEDADES PARA DISPOSITIVOS MÓVILES */
@media screen and (max-width:1000px){
    header .menu{
        flex-direction: column;
    }

    header .menu .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: .4em;
    }

    header .menu .logo .btn-menu{
        display: inline-block;
        color: black;
        font-size: 1.7em;
        margin-top: .6em;
    }

    header .menu .enlaces{
        width: 100%;
        display: flex;
        flex-direction: column;
    }


}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    width: 1100px;
    margin: 50px 0px;
}

.title{
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 200px;
}

.subtitle{
    font-size: 23px;
    margin-bottom: 30px;
}

main input[type='text']{
    padding: 15px;
    border: 1px solid #ddd;
    font-size: 17px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.button{
    padding: 10px 20px;
    border-radius: 50px;
    border: transparent;
    color: white;
    background-color: #3A91AF;
    margin-right: 10px;
}

.contenedor_formularios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 60px;
}


.contenedor_tablas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 60px;
}

.tabla{
    /* height: 330px; */
}

.tabla .tabla_header{
    padding: 30px;
    color: white;
    background-color: #3a91af;
    text-align: center;
    font-weight: 600;
}

.contenedor_cell{
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-content: flex-start;
    grid-auto-rows: auto;
}

.contenedor_cell.max{
    grid-template-columns: auto auto repeat(6, 1fr);
}

.tabla_cell.strong{
    font-weight: 600;
}

.tabla_cell{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}




footer{
    background: #000;
    height: auto;
    width: 100%;
    padding-top: 5em;
    /* color: var(--color-fondo); */
    color: white;
    text-align: center;
    padding-bottom: 5em;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.socials li{
    margin: 1em;
}

.socials a {
    text-decoration: none;
    color: #FFF;
}

.socials a i{
    font-size: 2.5em;
}

.txt-footer{
    text-align: center;
    font-size: 1em;
}

.contenedor_formularios.formulario_2{
    margin-top: 80px; 
    grid-template-columns: 1fr 1fr 1fr; 
    row-gap: 0
}


@media screen and (max-width: 1200px){
    .title{
        margin-top: 80px;
    }

    main{
        padding: 50px;
    }

    .contenedor_formularios {
        grid-template-columns: 1fr;
    }

    .contenedor_tablas {
        grid-template-columns: 1fr;
    }

    .contenedor_tablas .tabla{
        margin-bottom: 30px;
    }

    .contenedor_formularios.formulario_2{
        display: block; 
    }

    .invisible{
        display: none;
    }
}